<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Hello, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h5>Hello!  Welcome to mySQL practice site!  This is practice using mySQL for Module 12. </h5>
<p> <%= text %> </p>



<script src="./index.js"> </script>

</body>
</html>